version: '3'
services:
    wyrdwest-postgres:
        image: postgres:10.6-alpine
        environment:
            POSTGRES_DB: wyrdwest
            POSTGRES_USER: wyrdwest
            POSTGRES_PASSWORD: wyrdwest
        ports:
            - "127.0.0.1:35432:5432"
        networks:
            - wyrdwest-dev
    wyrdwest-phppgadmin:
        image: dpage/pgadmin4
        environment:
            PGADMIN_DEFAULT_EMAIL: graham@grahamcox.co.uk
            PGADMIN_DEFAULT_PASSWORD: wyrdwest
        ports:
            - "127.0.0.1:38090:80"
        networks:
            - wyrdwest-dev
    wyrdwest-service:
        image: uk.co.grahamcox.wyrdwest/wyrdwest-service:latest
        environment:
            PORT: 3000
            DB_URI: postgres://wyrdwest:wyrdwest@wyrdwest-postgres:5432/wyrdwest
            DOCKERIZE_WAIT: -wait tcp://wyrdwest-postgres:5432
        ports:
            - "127.0.0.1:33000:3000"
        networks:
            - wyrdwest-dev
networks:
    wyrdwest-dev:

