openapi: 3.0.2
info:
    title: Wyrd West
    description: API for the Wyrd West online game
    contact:
        name: Graham Cox
        email: graham@grahamcox.co.uk
    version: 0.0.1-ALPHA
tags:
    - name: health
      description: Healthchecks
    - name: characters
      description: Character Generation Details
paths:
    /health:
        $ref: health/health.yml
    /attributes/{id}:
        $ref: characters/attributes/getById.yml
