version: 2.0

jobs:
  build_service:
    docker:
      - image: circleci/rust:1.34.0

    working_directory: ~/repo

    steps:
      - checkout

      - restore_cache:
          keys:
            - "rust-dependencies--{{ checksum \"service/Cargo.lock\" }}"

      - setup_remote_docker

      - run:
          name: "Get Dependencies"
          working_directory: ~/repo/service
          command: cargo fetch

      - run:
          name: "Build and Test"
          working_directory: ~/repo/service
          command: |
            cargo check
            cargo test
            cargo build

      - save_cache:
          key: "rust-dependencies--{{ checksum \"service/Cargo.lock\" }}"
          paths:
            - ~/.cargo/registry
            - /usr/local/cargo/registry
            - ~/repo/service/target/debug/deps

      - restore_cache:
          keys:
            - "rust-docker--{{ checksum \"service/Cargo.lock\" }}"

      - run:
          name: "Build Docker Image"
          working_directory: ~/repo/service
          command: |
            [ -f /tmp/workspace/wyrdwest-service-layers.tar ] && docker load -i /tmp/workspace/wyrdwest-service-layers.tar
            ./build-docker.sh

      - run:
          name: "Export Docker image"
          command: |
            mkdir -p /tmp/docker_images
            docker save -o /tmp/docker_images/wyrdwest-service.tar uk.co.grahamcox.wyrdwest/wyrdwest-service:latest

      - persist_to_workspace:
          root: /tmp/docker_images
          paths:
            - wyrdwest-service.tar

      - run:
          name: "Export Docker Layers"
          command: |
            mkdir -p /tmp/docker_images
            docker save -o /tmp/docker_images/wyrdwest-service-layers.tar `docker history --no-trunc --format "{{.ID}}" uk.co.grahamcox.wyrdwest/wyrdwest-service:latest | grep -v missing | sed "s/.*://"`

      - save_cache:
          key: "rust-docker--{{ checksum \"service/Cargo.lock\" }}"
          paths:
            - /tmp/docker_images/wyrdwest-service-layers.tar

  run_integration:
    docker:
      - image: "circleci/node:11.4.0"

    working_directory: ~/repo

    steps:
      - checkout

      - setup_remote_docker

      - attach_workspace:
          at: /tmp/workspace

      - run:
          name: "Load Docker Images"
          command: |
              docker load -i /tmp/workspace/wyrdwest-service.tar

      - run:
          name: "Run tests"
          working_directory: ~/repo/integration
          command: yarn run integration

workflows:
  version: 2
  full_build:
    jobs:
      - build_service
      - run_integration:
          requires:
            - build_service
