# https://circleci.com/docs/2.0/language-javascript/
version: 2
jobs:
  'build-service':
    docker:
      - image: circleci/node:10
    working_directory: ~/repo
    steps:
      - checkout
      # Download and cache dependencies
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "service/yarn.lock" }}
      - run:
          name: Install Dependencies
          working_directory: ~/repo/service
          command: yarn install
      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "service/yarn.lock" }}
      - run:
          name: Test
          working_directory: ~/repo/service
          command: |
            yarn test
            yarn nyc report --reporter=lcov | yarn codecov
            yarn cov:check
      - setup_remote_docker
      - run:
          name: Build Docker Image
          working_directory: ~/repo/service
          command: |
            yarn docker

workflows:
  version: 2
  build:
    jobs:
      - 'build-service'
