version: '3'
services:
    wyrdwest-postgres:
        image: postgres:10.6-alpine
        environment:
            POSTGRES_DB: wyrdwest
            POSTGRES_USER: wyrdwest
            POSTGRES_PASSWORD: wyrdwest
        networks:
            - wyrdwest-integration
    wyrdwest-service:
        image: uk.co.grahamcox.wyrdwest/wyrdwest-service:latest
        environment:
            PORT: 3000
            DB_URI: host=wyrdwest-postgres port=5432 user=wyrdwest password=wyrdwest
            DOCKERIZE_WAIT: -wait tcp://wyrdwest-postgres:5432
        networks:
            - wyrdwest-integration
    wyrdwest-integration:
        build:
            context: .
        environment:
            SERVICE_URI: http://wyrdwest-service:3000
        networks:
            - wyrdwest-integration
networks:
    wyrdwest-integration:

